.post-preview>.post-meta {
    color: grey;
    font-size: 12px;
    font-style: italic;
    margin-top: 0;
    text-align: right;
}
p.post-comments {
    font-size: 12px;
}

.post-heading > h1, .post-heading > .meta {
    text-shadow: 3px 3px #333;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}